# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

ws-echo/*

.dccache
.vscode/*
gda-aws-cdk/cf.yaml

s3writer/__pycache__/*
s3writer/.env*

bybit/CMakeFiles/*
bybit/CMakeCache.txt
bybit/Makefile
bybit/cmake_install.cmake
bybit/lws-bybit
bybit/.env
bybit/.env-usdt

bytick/CMakeFiles/*
bytick/CMakeCache.txt
bytick/Makefile
bytick/cmake_install.cmake
bytick/lws-bytick
bytick/.env

coinbase/CMakeFiles/*
coinbase/CMakeCache.txt
coinbase/Makefile
coinbase/cmake_install.cmake
coinbase/lws-coinbase
coinbase/.env

binance/CMakeFiles/*
binance/CMakeCache.txt
binance/Makefile
binance/cmake_install.cmake
binance/lws-binance
binance/.env
